<% if user_signed_in? %>

	<header>
		<div class="logo">
			<p>logo</p>
		</div>

		<div class="welcome">
			<p>Hello<%= ", " + @user.email %> </p>
			<p>
		</div>

		<div class="nav-icon">

			<label for="menu-toggle">  	

				<input type="checkbox" id="menu_opener_id" class="menu_opener">

				  <label for="menu_opener_id" class="menu_opener_label"></label>

				  <div class="barre_hamburger"></div>
				    <% if user_signed_in? %>
					    <div class="side-menu">
						  <div class="sm-options">
						  		<h2>Home</h2>
						  		<ul>
							  		<li>Temp: <%= @user.temp %></li>
							  		<li>Wind: <%= @user.wind %></li>
							  		<li>High: <%= @user.max_temp %></li>
							  		<li>Low: <%= @user.min_temp %></li>
							  	</ul>
						  	</div>
						</div>
				    <% end %>
				</input> 
			</label> 
		</div>	
	</header>

<div class="wrapper">
	<div class="content">
	    <div class="temp">
	    	<p> Temp: <%= @user.temp %> </p>
	    	<p> Location: <%= @user.zipcode %> </p>
	    </div>
	</div>
</div>

<footer>
	<button class="login">
  		<li>
  			<%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
  		</li>
	</button>
</footer>

<% else %>
	
<header>
	<div class="logo">
		<p>logo</p>
	</div>
</header>

<div class="wrapper wel_wrapper">
	<button class="login wel_signin">
		<li>
		  	<%= link_to('Login/Signup', new_user_session_path)  %>
		</li>
	</button>
</div>

<footer class="wel_footer">
</footer>


<% end %>
