<header>
	<div class="logo">
		<p>logo</p>
	</div>

	<div class="welcome">
		<p>Hello<%= ", " + @user.email if user_signed_in? %> </p>
		<p>
	</div>

	<div class="nav-icon">
		<label for="menu-toggle"><p>&equiv;</p>
		</label>
	</div>
</header>

<div class="wrapper">
	<input type="checkbox" id="menu-toggle">
	<% if user_signed_in? %>
    <div class="side-menu extended">
	  <div class="sm-options">
	  		<h2>Home</h2>
	  		<ul>
		  		<li>Temp: <%= @user.temp %></li>
		  		<li>Wind: <%= @user.wind %></li>
		  		<li>High: <%= @user.max_temp %></li>
		  		<li>Low: <%= @user.min_temp %></li>
		  	</ul>
	  	</div>
	</div>
	<% end %>

  <div class="content">

    <div class="temp">
<<<<<<< HEAD
    <!-- 	<p>Temp: <%#= @user.temp %> </p> -->
    	<p> Location: </p>
=======
    	<p> Temp: <%= @user.temp if user_signed_in? %> </p>
    	<p> Location: <%= @user.zipcode if user_signed_in? %> </p>
>>>>>>> 5c1ae67860b17b8f17d33c8e603df2cf1ccdfceb
    </div>

  </div>

</div>

<footer>
	<button class="login">
		<% if user_signed_in? %>
	  		<li>
	  			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	  		</li>
		<% else %>
	  		<li>
	  			<%= link_to('Login', new_user_session_path)  %>
	  		</li>
		<% end %>
	</button>

</footer>