<header>
	<div class="logo">
		<p>logo</p>
	</div>

	<div class="welcome">
		<p>Hello<%= ", " + @user.email if user_signed_in? %> </p>
	</div>

	<div class="nav-icon">
			<p>&equiv;</p>
	</div>
</header>

<div class="wrapper">
	<% if user_signed_in? %>
    <div class="side-menu extended">
	  <div class="sm-options">
	  		<h2>Home</h2>
	  		<ul>
		  		<li>Temp: <%= @user.temp if user_signed_in? %></li>
		  		<br>
		  		<li>Wind: <%= @user.wind if user_signed_in? %></li>
		  		<br>
		  		<li>High: <%= @user.max_temp if user_signed_in? %></li>
		  		<br>
		  		<li>Low: <%= @user.min_temp if user_signed_in? %></li>
		  	</ul>
	  	</div>
	</div>
	<% end %>

  <div class="content">
    <div class="temp">
    	<p>Current Temp: <%= @user.temp %> </p>
    </div>
  </div>

</div>

<footer>
	<p> Location </p>
</footer>